* {
  font-size: 20px;
  margin:0.5rem;
}

#root{
 /*  display:flex;
  
  flex-wrap: row wrap;
    */
    display: grid;

}

.form-select {
  
  max-width: 120px;
  height: 40px;
  position: relative;
  top: -200px;
  right:-270px;
  background-color: violet;
  
}

.blockquote {

}